[Desktop Entry]
Version=1.1
Type=Application
Name=No Sleep
Icon=/home/mrcool/dev/deno/nosleep/nosleep.svg
Exec=deno run --allow-run=read --allow-ffi --allow-env=DENO_PYTHON_PATH --unstable-ffi main.ts
Actions=
Categories=Utility;
