[Desktop Entry]
Name=Stimulator
Name[ar]=المحفز
Name[et]=Stimulaator
Name[fr]=Stimulateur
Name[hi]=Stimulator
Name[it]=Stimolatore
Name[ja]=スティミュレータ
Name[nl]=Stimulator
Name[pt-BR]=Stimulator
Name[tr]=Stimulator
Comment=Keep your computer awake
Comment[ar]=أبقِ جهاز الكمبيوتر مستيقظًا
Comment[et]=Hoia oma arvuti ärkvel
Comment[fr]=Gardez votre ordinateur éveillé
Comment[hi]=अपने कंप्यूटर को सक्रिय रखें
Comment[it]=Mantieni il computer attivo
Comment[ja]=コンピュータを起動したままにしておく
Comment[nl]=Houd uw computer actief
Comment[pt-BR]=Mantenha seu computador acordado
Comment[tr]=Bilgisayarınızı uyanık tutun
Keywords=caffeine;nosleep;awake;keepawake;keepon;
Keywords[ar]=كافيين; بدون نوم; مستيقظ;
Keywords[et]=kofeiin;eiuinu;ärkvel;hoiaärkvel;jätka;
Keywords[fr]=caféine;pas de sommeil;éveillé;
Keywords[hi]=caffeine;nosleep;awake;keepawake;keepon;
Keywords[it]=caffeina;non dormire;sveglio;mantieniti sveglio;
Keywords[ja]=カフェイン;スリープ;起動;起動しておく;
Keywords[nl]=caffeine;nietslapen;actief;ontwaakt;ingeschakeld;aan;
Keywords[pt-BR]=cafeina;semdormir;acordado;mantaracordado;manterligado;
Keywords[tr]=caffeine;uykusuz;uyanık;uyanık kal;devam et;
TryExec=stimulator
Exec=stimulator %F
Icon=io.github.sigmasd.stimulator
Type=Application
Categories=Utility;
