[Desktop Entry]
Name=Stimulator
Name[ar]=المحفز
Name[da]=Stimulator
Name[de]=Stimulator
Name[es]=Stimulator
Name[et]=Stimulaator
Name[fr]=Stimulateur
Name[ga]=Stimulator
Name[hi]=Stimulator
Name[it]=Stimolatore
Name[ja]=スティミュレータ
Name[nl]=Stimulator
Name[pt-BR]=Stimulator
Name[sr-Cyrl]=Stimulator
Name[sr-Latn]=Stimulator
Name[tr]=Stimulator
Name[uk]=Стимулятор
Name[zh-CN]=Stimulator
Comment=Keep your computer awake
Comment[ar]=أبقِ جهاز الكمبيوتر مستيقظًا
Comment[da]=Hold din computer vågen
Comment[de]=Verhindere Bereitschaft
Comment[es]=Mantenga su ordenador despierto
Comment[et]=Hoia oma arvuti ärkvel
Comment[fr]=Gardez votre ordinateur éveillé
Comment[ga]=Coinnigh do ríomhaire ina dhúiseacht
Comment[hi]=अपने कंप्यूटर को सक्रिय रखें
Comment[it]=Mantieni il computer attivo
Comment[ja]=コンピュータを起動したままにしておく
Comment[nl]=Houd uw computer actief
Comment[pt-BR]=Mantenha seu computador acordado
Comment[sr-Cyrl]=Држи рачунар будним
Comment[sr-Latn]=Drži računar budnim
Comment[tr]=Bilgisayarınızı uyanık tutun
Comment[uk]=Утримує ваш комп'ютер від сну
Comment[zh-CN]=保持电脑唤醒
Keywords=caffeine;nosleep;awake;keepawake;keepon;
Keywords[ar]=كافيين; بدون نوم; مستيقظ;
Keywords[da]=koffein;ingensøvn;vågen;holdevågen;holdetændt;
Keywords[de]=caffeine;nosleep;awake;keepawake;keepon;
Keywords[es]=cafeína;sin dormir;despierto;mantenerse despierto;mantenerse encendido;
Keywords[et]=kofeiin;eiuinu;ärkvel;hoiaärkvel;jätka;
Keywords[fr]=caféine;pas de sommeil;éveillé;
Keywords[ga]=caiféin; gan chodladh; dúiseacht; coinnigh i do dhúiseacht; coinnigh ar aghaidh;
Keywords[hi]=caffeine;nosleep;awake;keepawake;keepon;
Keywords[it]=caffeina;non dormire;sveglio;mantieniti sveglio;
Keywords[ja]=カフェイン;スリープ;起動;起動しておく;
Keywords[nl]=caffeine;nietslapen;actief;ontwaakt;ingeschakeld;aan;
Keywords[pt-BR]=cafeina;semdormir;acordado;mantaracordado;manterligado;
Keywords[sr-Cyrl]=caffeine;nosleep;awake;keepawake;keepon;
Keywords[sr-Latn]=caffeine;nosleep;awake;keepawake;keepon;
Keywords[tr]=caffeine;uykusuz;uyanık;uyanık kal;devam et;
Keywords[uk]=caffeine;nosleep;awake;keepawake;keepon;
Keywords[zh-CN]=咖啡因;禁止休眠;唤醒;保持唤醒;保持开启;
TryExec=stimulator
Exec=stimulator %F
Icon=io.github.sigmasd.stimulator
Type=Application
Categories=Utility;
